:root {
    --cell-size: 150px;
}

body {
    color:#999;
    margin: 0;
    height: 100%;
    cursor: none;
    overflow: hidden;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.btn {
    font-size: 24px;
    padding: 10px;
}

.controls {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid black;
    width: var(--cell-size);
    height: var(--cell-size);
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goblin {
    width: var(--cell-size);
    height: var(--cell-size);
    z-index: 99;
    background-image: url('../img/goblin.png');
    background-repeat: no-repeat;
    background-position: center;
}

.scoresbox {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.scores, .misses {
    padding: 5px;
    margin: 5px;
    font-size: 26px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.hide {
    display: none;
}

.cursor {
    background-image: url(../img/tor_cursor.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 100;
}